{
  "port": 8421,
  "database": {
    "module": "sqlite3",
    "parameters": ["nightlynotes.db"]
  },
  "email": {
    "outgoing": {
      "host": "smtp.gmail.com",
      "domain": "nightlynotes.com",
      "handle": "reminder"
    },
    "incoming": {
      "host": "pop.gmail.com",
      "username": "",
      "password": ""
    }
  }
}
